@tailwind base;
@tailwind components;
@tailwind utilities;

.drag-handle {
  position: absolute;
  right: 0;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.drag-handle::after {
  content: '⠿';
  font-size: 25px;
  color: rgb(155, 155, 155);
}

.list__item.is-idle {
  transition: 0.25s ease transform;
}

.list__item.is-draggable,
.list__item.is-draggable .drag-handle {
  cursor: grabbing;
}

.list__item.is-draggable {
  z-index: 10;
}

